@import "../../../../styles/var";

.counter {
  display: flex;
  width: 245px;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  &__icon {
  width: 32px;
  height: 32px;
  }
}
