@import "../../../styles/var";
@font-face {
  font-family: BebasNeue_Regular;
  src: local("BebasNeue_Regular"),
  url(../../../fonts/BebasNeue_Regular.otf);
}

button:disabled {
  background-color: $grey-bg;
  cursor: not-allowed;
  pointer-events: none;
}
