@import "mixins.scss";

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}
.landing__content {
    height: calc(100% - 128px);
    background-image: url('../../images/it.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 20px 15px;
    -moz-box-shadow: 0 0 20px 15px;
    box-shadow: 0 0 20px 15px;
}
.content {
    position: relative;
    min-height: 960px;

}

.end-registration {
    &__text {
        text-align: left;

        color: white;


        font-size: rem(22);
        line-height: rem(32);

        &--link {
            text-decoration: underline;

            text-decoration-color: cyan;
        }

        &--mail {
            color: cyan;

            font-size: rem(28);
        }
    }
}

.wrapper {
    //min-width: 1024px;
    //height: 100%;


    background-color: #062037;


    &--light-gray {
        background-color: #e5e5e5;
    }

    &__modal-window {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        min-height: 100vh;

        background-color: transparentize(#e5e5e5, 0.5);

        &--entrance {
            display: none;
        }

        &--registration {
            display: none;
        }
        &--end-registration {
            display: none;
        }
    }
}

.a-entrance {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: rem(608);
    margin: auto;
    text-align: center;
    color: white;


    &__btn {
        margin-top: rem(32);
    }

    &__input-block {
        margin-top: rem(16);

        &:first-child {
            margin-top: rem(64);
            max-height: rem(32);
        }
    }

    &__remember-pass {
        font-size: rem(16);
    }

    &__error {
        margin-top: rem(48);
    }

    &__forgot-pass {
        display: block;
        margin-top: rem(16);
        text-decoration: none;
        color: cyan;
        font-size: rem(24);

        &:hover {
            color: orange;
        }
    }

    &__social {
        margin: rem(32) auto 0;
    }
}

.a-input-block {
    display: flex;
    flex-direction: row;
    justify-content: right;
    z-index: 10;
    width: 100%;

    &:first-of-type {
        margin-top: rem(40);
        max-height: rem(40);
    }

    &__label {
        display: block;
        width: 38%;
        margin-right: rem(8);
        font-size: rem(20);
        text-align: right;
    }

    &__input {
        width: 100%;
        padding-left: rem(16);
        color: dark;
        border: 1px solid transparent;
        outline: none;
        max-height: rem(32);
        background-color: grey;
        font-size: rem(20);
    }
}

.a-checkbox-block {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: rem(24);
    padding-left: rem(16);

    &__label {
        font-size: rem(18);
    }

    &__checkbox {
        display: block;
        width: rem(16);
        height: rem(16);
        margin-right: rem(16);
    }
}

.a-social {
    display: flex;
    justify-content: space-around;
    width: rem(216);
    z-index: 10;

    &__link {
        @include links;
    }
}

.a-error {
    visibility: hidden;
    color: red;
    font-size: rem(16);
    z-index: 10;
}

.icon {
    &:hover {
        background-color: orange;
    }


}

.wrapper {
    min-width: 1024px;


    background-color: rgb(6, 32, 55);


    &--light-gray {
        background-color: grey;
    }

    &__modal-window {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        min-height: 100vh;

        background-color: transparentize(grey, 0.5);

        &--entrance {
            display: none;
        }

        &--registration {
            display: none;
        }
        &--end-registration {
            display: none;
        }
    }
}
