@import "mixins.scss";
@import "../../styles/var";
.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}
.landing__content {
    background-image: url('../../images/it.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 20px 15px;
    -moz-box-shadow: 0 0 20px 15px;
    box-shadow: 0 0 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-registration {
    &__text {
        text-align: left;

        color: white;


        font-size: rem(22);
        line-height: rem(32);

        &--link {
            text-decoration: underline;

            text-decoration-color: cyan;
        }

        &--mail {
            color: cyan;

            font-size: rem(28);
        }
    }
}



.a-entrance {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: rem(608);
    justify-content: center;
    text-align: center;
    color: $white;
    font-family: $text-font;

    &__btn {
        margin-top: rem(32);
    }

    &__input-block {
        margin-top: rem(16);

        &:first-child {
            margin-top: rem(64);
            max-height: rem(32);
        }
    }

    &__remember-pass {
        font-size: rem(16);
    }

    &__error {
        margin-top: rem(48);
    }

    &__forgot-pass {
        display: block;
        margin-top: rem(16);
        text-decoration: none;
        color: $cyan;
        font-size: rem(24);

        &:hover {
            color: $orange;
        }
    }

    &__social {
        margin: rem(32) auto 0;
    }
}

.a-input-block {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 50px;
    //z-index: 10;
    width: 100%;

    &:first-of-type {
        margin-top: rem(40);
        max-height: rem(40);
    }

    &__label {
        display: block;
        width: 38%;
        margin-right: 30px;
        font-size: 16px;
        text-align: right;
    }

    &__input {
        width: 100%;
        padding-left: rem(16);
        color: $dark-bg;
        border: 1px solid transparent;
        outline: none;
        max-height: rem(32);
        background-color: $grey-input;
        opacity: .8;
        font-size: rem(20);
    }
}

.a-checkbox-block {
    //z-index: 10;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: rem(24);
    padding-left: rem(16);

    &__label {
        font-size: rem(18);
    }

    &__checkbox {
        display: block;
        width: rem(16);
        height: rem(16);
        margin-right: rem(16);
    }
}

.a-social {
    display: flex;
    justify-content: space-around;
    width: rem(216);
    //z-index: 10;

    &__link {
        @include links;
    }
}

.a-error {
    visibility: hidden;
    color: $red;
    font-size: rem(16);
    //z-index: 10;
}

.icon {
    &:hover {
        background-color: $orange;
    }


}



