@import "../../../styles/var";
@font-face {
  font-family: BebasNeue_Regular;
  src: local("BebasNeue_Regular"),
  url(../../../fonts/BebasNeue_Regular.otf);
}

.button  {
  height: 64px;
  width: 313px;
  background-color: #ff6d00;
  border: none;
  border-radius: 15px;
  color: $white;
  font-family: BebasNeue_Regular, sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
