@import "../../../styles/var";

.post {
  display: flex;
  justify-content: space-between;
  font-family: $text-font;
  font-size: 18px;
  color: $dark-text;
  min-width: 10%;
  padding: 24px 0 0 16px;
  background-color: $light-gray;

  &__user {
    margin: 0 24px;
  }

  &__contents {
    margin: auto 56px 24px 20px;
  }

  &__pointer {
    margin: 0 auto;
  }
  &--middle-grey {
    background-color: $middle-grey;
  }
}

.user {
  min-width: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-align: center;

  &__name {
    margin-top: 8px;
    //color: $orange;
  }

  &__role {
    margin-top: 4px;
    //color: $dark-text;
  }

  &__to-chat {
    margin-top: 16px;
    //color: $light-text;
  }
}