@import "../../../styles/var";
@font-face {
  font-family: MuseoSansCyrl_0;
  src: local("MuseoSansCyrl_0"),
  url(../../../fonts/MuseoSansCyrl_1.otf);
}

.title {
  display: block;
  color: $orange;
  font-family: MuseoSansCyrl_0, sans-serif;
  font-size: 21px;
}
