
.lock {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  line-height: 21px;

  &__icon {
    width: 30px;
    height: 32px;
    margin-right: 25px;

    &--close {
      background: url('../../../images/lock.svg') no-repeat;
      background-size: 32px;
    }

    &--open {
      background: url('../../../images/open_lock.svg') no-repeat;
      background-size: 32px;
    }
  }
}
