@import "../../../styles/var";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;

  background-color: transparentize(grey, 0.5);
}

.modal-window {
  align-items: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  min-height: 80%;
  min-width: rem(800);
  padding: rem(72) rem(100);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: $dark-bg;
}

.modal-title {
  text-transform: uppercase;
  color: $cyan;
  font-family: $title-font;
  font-size: rem(45);
  font-weight: 400;
  margin-bottom: rem(56);
}

.close-modal-btn {
  display: block;
  position: absolute;
  width: rem(32);
  height: rem(32);
  color: $orange;
  border: rem(2) solid transparent;
  border-radius: 50%;
  background-color: transparent;
  font-size: rem(16);
  top: rem(10);
  right: rem(10);

  &:hover,
  &:focus {
    cursor: pointer;
    color: $cyan;
    border: rem(2) solid $orange;
    border-radius: 50%;
    outline: none;
  }
}