.SocialIcon {
  max-height: 3rem;
  max-width: 3rem;
  margin-right: 3rem;

  &:last-child {
    margin-right: 0;
  }

  &__img {
    max-height: 100%;
    max-width: 100%;
  }

  svg {
    fill: #202b52;
  }

  svg:hover #fbcircle,
  svg:hover #fb,
  svg:hover #google-svg,
  svg:hover #LikedinIcon-circle,
  svg:hover #LikedinIcon {
    fill: #ff6c00;
  }
}
